# Master Configuration.

[module]
name = "mastercfgfile"
nodeid = 1
role = "master"
version = "v1"
# web request request signature key
signkey = ""
data-path = "/tmp/baud/master/data"

[log]
log-path = "/tmp/baud/master/log"
#debug, info, warn, error
level = "dEbug"





